{% extends 'template.html' %} 
{% load static %} 
{% block title %}Classes{% endblock %} 
{% block content %}

    <h1>Classes</h1>

    <section class="display-class">

        <div class="item-class">
            <div class="name-class">Guerreiro</div>

            <p class="description-class">
                O guerreiro é uma classe focada em combate corpo a corpo, conhecida por sua força bruta, resistência física e habilidade com armas. 
            </p>

            <div class="tags">Corpo a Corpo, Tank</div>
        </div>

        <div class="item-class">
            <div class="name-class">Arqueiro</div>

            <p class="description-class">
                Ágil e preciso, o arqueiro é um especialista em ataques à distância. Utiliza arcos, bestas ou outras armas de longo alcance para eliminar inimigos antes que cheguem perto. 
            </p>

            <div class="tags">Longa distância, Ágil</div>
        </div>

        <div class="item-class">
            <div class="name-class">Mago</div>

            <p class="description-class">
                Mestre das artes arcanas, o mago canaliza energia mágica para lançar feitiços poderosos. 
            </p>

            <div class="tags">Longa distância, Mágico</div>
        </div>

        <div class="item-class">
            <div class="name-class">Curandeiro</div>

            <p class="description-class">
                Guardião da vida, o curandeiro é essencial em qualquer grupo. Usa magia sagrada ou natural para restaurar a saúde dos aliados, remover maldições e protegê-los de ferimentos. 
            </p>

            <div class="tags">Corpo a Corpo / Longa distância, Tank</div>
        </div>


        <div id="modal" class="modal">
            <div class="container-modal">
                <div class="name-class">Guerreiro</div>

                <p class="description-class">
                    O guerreiro é uma classe focada em combate corpo a corpo, conhecida por sua força bruta, resistência física e habilidade com armas. 
                </p>

                <div class="tags">Corpo a Corpo, Tank</div>

                <div>Habilidade 1 : teste</div>
                <div>Habilidade 2 : teste</div>
                <div>Habilidade 3 : teste</div>
                <div>Habilidade 4 : teste</div>
            </div>
        </div>

    </section>

{% endblock %}