{% extends 'template.html' %} 
{% load static %} 
{% block title %}Personagens{% endblock %} 
{% block content %}
  <h1>Seus Personagens</h1>

  <a href="{% url 'create' %}" class="link-create"><button class="create">Criar Novo</button></a>

  <section class="display-characters">

    {% if characters %}
    
    {% for character in characters %}
    <div class="item-character" name="{{ character.id }}" >
      <div class="informations-character">
        <div class="name-character"><span>Nome:</span> {{ character.name }}</div>
        <div class="class-character"><span>Personalidade:</span> {{ character.personality }}</div>
      </div>

      <div class="buttons">
        <button class="download">
          <i class="fa-solid fa-download"></i>
          Download
        </button>
        <button class="edit">
          <i class="fa-solid fa-pen-to-square"></i>
          Editar
        </button>
        <button class="delete">
          <i class="fa-solid fa-trash"></i>
          Excluir
        </button>
      </div>
    </div>
    {% endfor %}
    {% else %}
      <p>Você não possui nenhum personagem criado.</p>
    {% endif %}
  </section>

  <div class="modal-delete">
    <div class="popup-confirm">
      <h2>Tem certeza que deseja excluir este personagem?</h2>

      <div class="popup-buttons">
        <button id="confirm-delete" class="confirm-button">Sim</button>
        <button id="cancel-delete" class="cancel-button">Cancelar</button>
      </div>
    </div>
  </div>

{% endblock %}
