{% extends '../template.html' %}
{% load static %}
{% block title %}RPGMaker{% endblock %}
{% block content %}
    <main class="container">
      <h1>Bem-vindo ao RPGMaker!</h1>
      <p class="description">
        Crie fichas de personagens para suas aventuras de RPG de mesa de forma
        rápida, prática e personalizada. Escolha raça, classe, atributos e muito
        mais — e ainda exporte tudo em PDF para usar direto na sua campanha!
      </p>


      <section class="dashboard-content">
        <div class="content-block">
          <h2>🎲 Criação de Personagens</h2>
          <p>
            Monte fichas únicas para seus personagens. Escolha nome, classe,
            raça, atributos e habilidades especiais.
          </p>
        </div>

        <div class="content-block">
          <h2>📜 Exportação em PDF</h2>
          <p>
            Gere fichas organizadas e prontas para impressão ou uso digital
            diretamente na sua mesa de RPG.
          </p>
        </div>

        <div class="content-block">
          <h2>⚙️ Personalização Avançada</h2>
          <p>
            Adicione históricos, inventário, magias, aliados e outras
            informações conforme seu sistema favorito.
          </p>
        </div>

        <div class="content-block">
          <h2>👥 Gerencie Seus Personagens</h2>
          <p>
            Salve, edite e visualize facilmente todos os personagens criados em
            sua conta.
          </p>
        </div>
      </section>
    </main>
{% endblock %}
