@import url('./pallete-color.css');

*{
    box-sizing: border-box;
}

a.return {
    display: inline-block;
    margin-bottom: 2.4rem;
    padding: .8rem 1.2rem;
    font-size: 1.6rem;
    border-radius: .2rem;
    background-color: var(--rose);
    color: var(--white);
}

form.create-character {
    display: grid;
    
    border: 1px dashed var(--rose);
    padding: 1.2rem;
    border-radius: .2rem;

    label {
        display: block;
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
        font-weight: bold;
    }

    input, textarea {
        display: block;
        margin-top: .6rem;
        outline: 1px solid var(--dark-gray);
        border-radius: .2rem;
        padding: .8rem 1.2rem;
    }

    textarea {
        width: 100%;
        padding: 1.6rem;
        min-height: 40rem;
    }

    button.save-character {
        background-color: var(--green);
        font-size: 1.6rem;
    }
}