@import url('./pallete-color.css');

body {
    width: 100%;
    height: 100dvh;
    padding: 0 1rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-gray);
    border-radius: 4px;
    color: var(--white);
}


h1 {
    margin-bottom: 5rem;
    font-size: 4.8rem;
    font-weight: bold;
    user-select: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    align-content: space-between;
    color: var(--white);
}

label {
    font-size: 1.6rem;
    user-select: none;
}

label > input:hover {
    cursor: text;
}

input {
    display: block;
    width: 100%;
    padding: .8rem;
    margin: .6rem 0 0;
    font-size: 1.6rem;
    border: 1px solid var(--dark-gray);
    border-radius: .2rem;
}

input::placeholder {
    font-size: 1.4rem;
}

input[type='submit'] {
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.8rem 0;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: .2rem;
    background-color: var(--rose);
    color: var(--white);
    transition: border-color 0.5s;
}

input[type='submit']:hover {
    border-color: var(--white);
}
   

.register, .login {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a { 
    font-size: 1.6rem;
    color: var(--rose);
    user-select: none;
}

a:hover {
    text-decoration: underline;
}

.login-error {
    color: var(--rose);
    display: none;
}

.input-error {
    border-color: var(--rose);
}
