@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Saira+Stencil+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

