@import url('./pallete-color.css');

div.container-message {
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 1.6rem;
    border: 2px solid var(--dark-green);
    border-radius: 0.4rem;
    background-color: var(--light-green);

    p {
        font-size: 1.4rem;
        span.sucess {
            color: var(--green);
        }

        span.error {
            color: var(--rose);
        }
    }
}

.fade-in {
    opacity: 0;
    transform: translateX(-5px);
    transition: opacity .3s ease, transform .3s ease;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}