:root {
    --rose: #ff356a;
    --dark-gray: #333;
    --dark: #181012;
    --white: #f8fbfe;
    --vine: #b8297a;
    --blue: #479df8;
    --dark-green: #0c9c3c;
    --light-green: #a3f7b17c;
    --green: #00ff00;
    --red: #ff746c;
}