<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <link rel="stylesheet" href="{% static '/styles/login-register.css' %}">
    <link rel="stylesheet" href="{% static '/styles/message-login-register.css' %}">

    <title>{% block title %}RPGMaker{% endblock %}</title>
</head>
<body>

    {% block content %}{% endblock %}

    <div id="sucess-message" class="sucess-create-user">
        <span>✔</span> Usúario criado com sucesso!
    </div>

    <script src="{% static '/js/messages.js' %}"></script>
</body>
</html>