<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static '/styles/main.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/nav.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/container.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/display-characters.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/create-character.css' %}" />

    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/48d683c70b.js" crossorigin="anonymous"></script>

    <!-- MARKDOWN -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    
    {% include 'partials/_nav.html' %}
    
    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <script src="{% static '/js/markdown.js' %}"></script>
  </body>
</html>